
<body>
    <div id="container">
        <div id="header">Brain Ring</div>
        <div id="sidebar">
            <p><a href="/">Правила</a></p>
            <p><a href="/ask">Конкурсные вопросы</a></p>
            <p><a href="/stat">Статистика турнира</a></p>
            <p><a href="/interview">Вопрос судейству</a></p>
        </div>
        <div id="content">
            <h2>Тут типо будут вопросики</h2>
            <ul>
                <p>Охотник неожиданно столкнулся на пустыре нос к носу с медведем.
                    Оба испугались и побежали в разные стороны: охотник – на север,
                    а медведь – на запад. Пробежав какое-то расстояние, охотник опомнился,
                    направил ружьё точно на Юг, выстрелил и убил медведя.
                    Какого цвета был медведь?</p>
                <p>Ответ суда ↓</p><input>
            </ul>
        </div>
        <div id="footer">&copy;RShulga</div>
    </div>
</body>