<div id="container">
    <div id="header">Brain Ring</div>
    <div id="sidebar">
        <p><a href="ask">Конкурсные вопросы</a></p>
        <p><a href="stat">Статистика турнира</a></p>
        <p><a href="interview">Вопрос судейству</a></p>
    </div>
    <div id="content">
        <h2>Здесь будут правила игры</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div id="footer">&copy; RShulga</div>
</div>
