#question {
    color: #01101f;
}
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("pictures/dark_blue_background-wallpaper-2560x1600.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#inputform {
    height: 70px;
}

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

#myclock {
    margin-top: 35px;
}